head {
    text-align: center;
}

body {
  background-color: mediumslateblue;
  text-align: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

.shop-greeting {
  color: pink;
}

.note {
  font-style: italic;
  background-color: rgb(160, 160, 234);
}

.adoption-stall {
  background-color: rgb(53, 37, 112);
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  border: 4px solid pink;
}

.top-nav {
  display: flex;
  justify-content: center;
}

.top-nav a {
  margin: 0 12px; /* adjust 12px to taste */
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-nav a {
  margin: 0 12px;
}

.pet-grid {
  display: flex;
  justify-content: center;
}

.pet-grid img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 0 8px;

  border-radius: 50%;
  border: 4px solid pink;
}

.pet-grid img.fire-pet {
  border-color: rgb(220, 7, 7);
}

.pet-grid img.moon-pet {
  border-color: rgb(142, 142, 145);
}

.pet-grid img.shadow-pet {
  border-color: rgb(54, 1, 54);
}

.pet-grid img.star-pet {
  border-color: gold;
}

ul, ol {
  list-style-position: inside;
}

img {
  max-width: 300px;
}