head {
    text-align: center;
}

body {
  background-color: mediumslateblue;
  text-align: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

.shop-greeting {
  color: pink;
}

.note {
  font-style: italic;
  background-color: rgb(160, 160, 234);
}

#hero-title {
  color: gold;
}

ul, ol {
  list-style-position: inside;
}

img {
  max-width: 300px;
}