head {
    text-align: center;
}

body {
  background-color: mediumslateblue;
  text-align: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

.shop-greeting {
  color: pink;
}

.note {
  font-style: italic;
  background-color: rgb(160, 160, 234);
}

.adoption-stall {
  background-color: rgb(53, 37, 112);
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  border: 4px solid pink;
}

.top-nav {
  display: flex;
  justify-content: center;
}

.top-nav a {
  margin: 0 12px; /* adjust 12px to taste */
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-nav a {
  margin: 0 12px;
}

#hero-title {
  color: gold;
}

ul, ol {
  list-style-position: inside;
}

img {
  max-width: 300px;
}